<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dreams LMS</title>

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.svg">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="/assets/plugins/slick/slick-theme.css">

    <link rel="stylesheet" href="/assets/plugins/feather/feather.css">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <div class="main-wrapper">

        <header class="header header-page">
            <%- include('include/nav.ejs') %>
        </header>


        <div class="breadcrumb-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="breadcrumb-list">
                            <nav aria-label="breadcrumb" class="page-breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item" aria-current="page">Pages</li>
                                    <li class="breadcrumb-item" aria-current="page">Blog Grid</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="course-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">

                                <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a href="article"><img class="img-fluid"
                                                src="/assets/img/blog/blog-08.jpg" alt="Post Image"></a>
                                    </div>
                                    <div class="blog-grid-box">
                                        <div class="blog-info clearfix">
                                            <div class="post-left">
                                                <ul>
                                                    <li><img class="img-fluid" src="/assets/img/icon/icon-22.svg"
                                                            alt="">Jun 14, 2022</li>
                                                    <li><img class="img-fluid" src="/assets/img/icon/icon-23.svg"
                                                            alt="">Programming, Web Design</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h3 class="blog-title"><a href="article">Learn Webs Applications
                                                Development from Experts</a></h3>
                                        <div class="blog-content blog-read">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                                                hendrerit. Sed egestas, ante et vulputate volutpat, eros pede […]</p>
                                            <a href="article" class="read-more btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">

                                <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a href="article"><img class="img-fluid"
                                                src="/assets/img/blog/blog-09.jpg" alt="Post Image"></a>
                                    </div>
                                    <div class="blog-grid-box">
                                        <div class="blog-info clearfix">
                                            <div class="post-left">
                                                <ul>
                                                    <li><img class="img-fluid" src="/assets/img/icon/icon-22.svg"
                                                            alt="">May 24, 2022</li>
                                                    <li><img class="img-fluid" src="/assets/img/icon/icon-23.svg"
                                                            alt="">Programming, Courses</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h3 class="blog-title"><a href="article">Expand Your Career
                                                Opportunities With Python</a></h3>
                                        <div class="blog-content blog-read">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                                                hendrerit. Sed egestas, ante et vulputate volutpat, eros pede […]</p>
                                            <a href="article" class="read-more btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">

                                <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a href="article"><img class="img-fluid"
                                                src="/assets/img/blog/blog-10.jpg" alt="Post Image"></a>
                                    </div>
                                    <div class="blog-grid-box">
                                        <div class="blog-info clearfix">
                                            <div class="post-left">
                                                <ul>
                                                    <li><img class="img-fluid" src="/assets/img/icon/icon-22.svg"
                                                            alt="">Jun 14, 2022</li>
                                                    <li><img class="img-fluid" src="/assets/img/icon/icon-23.svg"
                                                            alt="">Programming, Web Design</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h3 class="blog-title"><a href="article">Complete PHP Programming
                                                Career Guideline</a></h3>
                                        <div class="blog-content blog-read">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                                                hendrerit. Sed egestas, ante et vulputate volutpat, eros pede […]</p>
                                            <a href="article" class="read-more btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">

                                <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a href="article"><img class="img-fluid"
                                                src="/assets/img/blog/blog-11.jpg" alt="Post Image"></a>
                                    </div>
                                    <div class="blog-grid-box">
                                        <div class="blog-info clearfix">
                                            <div class="post-left">
                                                <ul>
                                                    <li><img class="img-fluid" src="/assets/img/icon/icon-22.svg"
                                                            alt="">Sep 18, 2022</li>
                                                    <li><img class="img-fluid" src="/assets/img/icon/icon-23.svg"
                                                            alt="">Programming, Courses</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h3 class="blog-title"><a href="article">Programming Content Guideline
                                                For Beginners</a></h3>
                                        <div class="blog-content blog-read">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                                                hendrerit. Sed egestas, ante et vulputate volutpat, eros pede […]</p>
                                            <a href="article" class="read-more btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">

                                <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a href="article"><img class="img-fluid"
                                                src="/assets/img/blog/blog-12.jpg" alt="Post Image"></a>
                                    </div>
                                    <div class="blog-grid-box">
                                        <div class="blog-info clearfix">
                                            <div class="post-left">
                                                <ul>
                                                    <li><img class="img-fluid" src="/assets/img/icon/icon-22.svg"
                                                            alt="">Jun 26, 2022</li>
                                                    <li><img class="img-fluid" src="/assets/img/icon/icon-23.svg"
                                                            alt="">Programming, Web Design</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h3 class="blog-title"><a href="article">The Complete JavaScript
                                                Course for Beginners</a></h3>
                                        <div class="blog-content blog-read">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                                                hendrerit. Sed egestas, ante et vulputate volutpat, eros pede […]</p>
                                            <a href="article" class="read-more btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">

                                <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a href="article"><img class="img-fluid"
                                                src="/assets/img/blog/blog-13.jpg" alt="Post Image"></a>
                                    </div>
                                    <div class="blog-grid-box">
                                        <div class="blog-info clearfix">
                                            <div class="post-left">
                                                <ul>
                                                    <li><img class="img-fluid" src="/assets/img/icon/icon-22.svg"
                                                            alt="">Feb 14, 2022</li>
                                                    <li><img class="img-fluid" src="/assets/img/icon/icon-23.svg"
                                                            alt="">Programming, Courses</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h3 class="blog-title"><a href="article">Learn Mobile Applications
                                                Development from Experts</a></h3>
                                        <div class="blog-content blog-read">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                                                hendrerit. Sed egestas, ante et vulputate volutpat, eros pede […]</p>
                                            <a href="article" class="read-more btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <ul class="pagination lms-page">
                                    <li class="page-item prev">
                                        <a class="page-link" href="javascript:void(0);" tabindex="-1"><i
                                                class="fas fa-angle-left"></i></a>
                                    </li>
                                    <li class="page-item first-page active">
                                        <a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">5</a>
                                    </li>
                                    <li class="page-item next">
                                        <a class="page-link" href="javascript:void(0);"><i
                                                class="fas fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-12 sidebar-right theiaStickySidebar">

                        <div class="card search-widget blog-search blog-widget">
                            <div class="card-body">
                                <form class="search-form">
                                    <div class="input-group">
                                        <input type="text" placeholder="Search..." class="form-control">
                                        <button type="submit" class="btn btn-primary"><i
                                                class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="card post-widget blog-widget">
                            <div class="card-header">
                                <h4 class="card-title">Recent Posts</h4>
                            </div>
                            <div class="card-body">
                                <ul class="latest-posts">
                                    <li>
                                        <div class="post-thumb">
                                            <a href="article">
                                                <img class="img-fluid" src="/assets/img/blog/blog-01.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-info">
                                            <h4>
                                                <a href="article">Learn Webs Applications Development from
                                                    Experts</a>
                                            </h4>
                                            <p><img class="img-fluid" src="/assets/img/icon/icon-22.svg" alt="">Jun 14,
                                                2022</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-thumb">
                                            <a href="article">
                                                <img class="img-fluid" src="/assets/img/blog/blog-02.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-info">
                                            <h4>
                                                <a href="article">Expand Your Career Opportunities With
                                                    Python</a>
                                            </h4>
                                            <p><img class="img-fluid" src="/assets/img/icon/icon-22.svg" alt=""> 3 Dec
                                                2019</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-thumb">
                                            <a href="article">
                                                <img class="img-fluid" src="/assets/img/blog/blog-03.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-info">
                                            <h4>
                                                <a href="article">Complete PHP Programming Career
                                                    Guideline</a>
                                            </h4>
                                            <p><img class="img-fluid" src="/assets/img/icon/icon-22.svg" alt=""> 3 Dec
                                                2019</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="card category-widget blog-widget">
                            <div class="card-header">
                                <h4 class="card-title">Categories</h4>
                            </div>
                            <div class="card-body">
                                <ul class="categories">
                                    <li><a href="javascript:void(0);"><i class="fas fa-angle-right"></i> Business </a>
                                    </li>
                                    <li><a href="javascript:void(0);"><i class="fas fa-angle-right"></i> Courses </a>
                                    </li>
                                    <li><a href="javascript:void(0);"><i class="fas fa-angle-right"></i> Education </a>
                                    </li>
                                    <li><a href="javascript:void(0);"><i class="fas fa-angle-right"></i> Graphics Design
                                        </a></li>
                                    <li><a href="javascript:void(0);"><i class="fas fa-angle-right"></i> Programming
                                        </a></li>
                                    <li><a href="javascript:void(0);"><i class="fas fa-angle-right"></i> Web Design </a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="card category-widget blog-widget">
                            <div class="card-header">
                                <h4 class="card-title">Archives</h4>
                            </div>
                            <div class="card-body">
                                <ul class="categories">
                                    <li><a href="javascript:void(0);"><i class="fas fa-angle-right"></i> January 2022
                                        </a></li>
                                    <li><a href="javascript:void(0);"><i class="fas fa-angle-right"></i> February 2022
                                        </a></li>
                                    <li><a href="javascript:void(0);"><i class="fas fa-angle-right"></i> April 2022 </a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="card tags-widget blog-widget tags-card">
                            <div class="card-header">
                                <h4 class="card-title">Latest Tags</h4>
                            </div>
                            <div class="card-body">
                                <ul class="tags">
                                    <li><a href="javascript:void(0);" class="tag">HTML</a></li>
                                    <li><a href="javascript:void(0);" class="tag">Java Script</a></li>
                                    <li><a href="javascript:void(0);" class="tag">Css</a></li>
                                    <li><a href="javascript:void(0);" class="tag">Jquery</a></li>
                                    <li><a href="javascript:void(0);" class="tag">Java</a></li>
                                    <li><a href="javascript:void(0);" class="tag">React</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>


        <footer class="footer">

            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/assets/img/logo.svg" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Instructor</h2>
                                <ul>
                                    <li><a href="/instructor/profile">Profile</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/register">Register</a></li>
                                    <li><a href="/instructor/list">Instructor</a></li>
                                    <li><a href="deposit-instructor-dashboard.html"> Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Student</h2>
                                <ul>
                                    <li><a href="/students/profile">Profile</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/register">Register</a></li>
                                    <li><a href="/students/list">Student</a></li>
                                    <li><a href="deposit-student-dashboard.html"> Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">News letter</h2>
                                <div class="news-letter">
                                    <form>
                                        <input type="text" class="form-control" placeholder="Enter your email address"
                                            name="email">
                                    </form>
                                </div>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <img src="/assets/img/icon/icon-20.svg" alt="" class="img-fluid">
                                        <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                                    </div>
                                    <p>
                                        <img src="/assets/img/icon/icon-19.svg" alt="" class="img-fluid">
                                        <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                            data-cfemail="d0b4a2b5b1bda3bcbda390b5a8b1bda0bcb5feb3bfbd">[email&#160;protected]</a>
                                    </p>
                                    <p class="mb-0">
                                        <img src="/assets/img/icon/icon-21.svg" alt="" class="img-fluid">
                                        +19 123-456-7890
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container">

                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="privacy-policy">
                                    <ul>
                                        <li><a href="/term-condition">Terms</a></li>
                                        <li><a href="/privacy-policy">Privacy</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2022 DreamsLMS. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>


    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/jquery.waypoints.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>

    <script src="/assets/js/owl.carousel.min.js"></script>

    <script src="/assets/plugins/slick/slick.js"></script>

    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <script src="/assets/js/script.js"></script>
</body>

</html>