<div class="header-fixed">
    <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
        <div class="container header-border">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a href="/" class="navbar-brand logo">
                    <img src="/assets/img/logo.svg" class="img-fluid" alt="Logo">
                </a>
               
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="/" class="menu-logo">
                        <img src="/assets/img/logo.svg" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <!--Home End -->

                    <!-- About Starts -->
                    <li class="has-submenu">
                        <a href="/about">About </a>
                    </li>
                    <!-- About Starts -->

                    <!-- Blog Start -->

                    <li class="has-submenu">
                        <a href="/blog">Blog </a>
                    </li>
                    <!-- Blog End -->

                    <!-- Student Dropdown Start -->
                    <li class="has-submenu">
                        <a href="/">Student <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu first-submenu">
                            <li><a href="/student/student-list">Student</a></li>
                            <li><a href="/student/setting-edit-profile">Student Profile</a></li>
                            <li><a href="/student/setting-student-security">Security</a></li>
                            <li><a href="/student/setting-student-social-profile">Social profile</a></li>
                            <li><a href="/student/setting-student-notification">Notification</a></li>
                            <li><a href="/student/setting-student-privacy">Profile Privacy</a></li>
                            <li><a href="/student/setting-student-accounts">Link Accounts</a></li>
                            <li><a href="/student/setting-student-referral">Referal</a></li>
                            <li><a href="/student/setting-student-subscription">Subscribtion</a></li>
                            <li><a href="/student/setting-student-billing">Billing</a></li>
                            <li><a href="/student/setting-student-payment">Payment</a></li>
                            <li><a href="/student/setting-student-invoice">Invoice</a></li>
                            <li><a href="/student/setting-support-tickets">Support Tickets</a></li>
                        </ul>
                    </li>
                    <!-- Student Dropdown End -->

                    <li class="has-submenu">
                        <a href="/">More <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="/pricing-plan">Pricing Plan</a></li>
                            <li><a href="/more/wishlist">Wishlist</a></li>
                            <li>
                                <a href="/course">Course </a>
                            </li>
                            <li>
                                <a href="/come-soon">Coming Soon</a>
                            </li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/support">Support</a></li>
                            <li><a href="/job-category">Category</a></li>
                        </ul>
                    </li>


                </ul>
            </div>

            <ul class="nav header-navbar-rht">

                <!-- instructor Chat Start -->
                <li class="nav-item">
                    <a href="/instructor-chat"><img src="/assets/img/icon/messages.svg" alt="img"></a>
                </li>
                <!-- instructor Chat End -->

                <!-- Add to Cart Start -->
                <li class="nav-item cart-nav">
                    <a href="/#" class="dropdown-toggle" data-bs-toggle="dropdown">
                        <img src="/assets/img/icon/cart.svg" alt="img">
                    </a>
                    <div class="wishes-list dropdown-menu dropdown-menu-right">
                        <div class="wish-header">
                            <a href="/#">View Cart</a>
                            <a href="/javascript:void(0)" class="float-end">Checkout</a>
                        </div>
                        <div class="wish-content">
                            <ul>
                                <li>
                                    <div class="media">
                                        <div class="d-flex media-wide">
                                            <div class="avatar">
                                                <a href="/course-details">
                                                    <img alt="" src="/assets/img/course/course-04.jpg">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h6><a href="/course-details">Learn Angular...</a></h6>
                                                <p>By Dave Franco</p>
                                                <h5>$200 <span>$99.00</span></h5>
                                            </div>
                                        </div>
                                        <div class="remove-btn">
                                            <a href="/#" class="btn">Remove</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="d-flex media-wide">
                                            <div class="avatar">
                                                <a href="/course-details">
                                                    <img alt="" src="/assets/img/course/course-14.jpg">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h6><a href="/course-details">Build Responsive
                                                        Real...</a></h6>
                                                <p>Jenis R.</p>
                                                <h5>$200 <span>$99.00</span></h5>
                                            </div>
                                        </div>
                                        <div class="remove-btn">
                                            <a href="/#" class="btn">Remove</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="d-flex media-wide">
                                            <div class="avatar">
                                                <a href="/course-details">
                                                    <img alt="" src="/assets/img/course/course-15.jpg">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h6><a href="/course-details">C# Developers Double
                                                        ...</a></h6>
                                                <p>Jesse Stevens</p>
                                                <h5>$200 <span>$99.00</span></h5>
                                            </div>
                                        </div>
                                        <div class="remove-btn">
                                            <a href="/#" class="btn">Remove</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="total-item">
                                <h6>Subtotal : $ 600</h6>
                                <h5>Total : $ 600</h5>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Add to Cart End -->

                <!-- Add to wish Start -->
                <li class="nav-item wish-nav">
                    <a href="/#" class="dropdown-toggle" data-bs-toggle="dropdown">
                        <img src="/assets/img/icon/wish.svg" alt="img">
                    </a>
                    <div class="wishes-list dropdown-menu dropdown-menu-right">
                        <div class="wish-content">
                            <ul>
                                <li>
                                    <div class="media">
                                        <div class="d-flex media-wide">
                                            <div class="avatar">
                                                <a href="/course-details">
                                                    <img alt="" src="/assets/img/course/course-04.jpg">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h6><a href="/course-details">Learn Angular...</a></h6>
                                                <p>By Dave Franco</p>
                                                <h5>$200 <span>$99.00</span></h5>
                                                <div class="remove-btn">
                                                    <a href="/#" class="btn">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="d-flex media-wide">
                                            <div class="avatar">
                                                <a href="/course-details">
                                                    <img alt="" src="/assets/img/course/course-14.jpg">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h6><a href="/course-details">Build Responsive
                                                        Real...</a></h6>
                                                <p>Jenis R.</p>
                                                <h5>$200 <span>$99.00</span></h5>
                                                <div class="remove-btn">
                                                    <a href="/#" class="btn">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="d-flex media-wide">
                                            <div class="avatar">
                                                <a href="/course-details">
                                                    <img alt="" src="/assets/img/course/course-15.jpg">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h6><a href="/course-details">C# Developers Double
                                                        ...</a></h6>
                                                <p>Jesse Stevens</p>
                                                <h5>$200 <span>$99.00</span></h5>
                                                <div class="remove-btn">
                                                    <a href="/#" class="btn">Remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Add to wish End -->

                <!-- Notification Start -->
                <li class="nav-item noti-nav">
                    <a href="/#" class="dropdown-toggle" data-bs-toggle="dropdown">
                        <img src="/assets/img/icon/notification.svg" alt="img">
                    </a>
                    <div class="notifications dropdown-menu dropdown-menu-right">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications
                                <select>
                                    <option>All</option>
                                    <option>Unread</option>
                                </select>
                            </span>
                            <a href="/javascript:void(0)" class="clear-noti">Mark all as read <i
                                    class="fa-solid fa-circle-check"></i></a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">

                                <li class="notification-message">
                                    <div class="media d-flex">
                                        <div>
                                            <a href="/notifications" class="avatar">
                                                <img class="avatar-img" alt="" src="/assets/img/user/user1.jpg">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h6><a href="/notifications">Lex Murphy requested
                                                    <span>access to</span> UNIX directory tree hierarchy
                                                </a></h6>
                                            <button class="btn btn-accept">Accept</button>
                                            <button class="btn btn-reject">Reject</button>
                                            <p>Today at 9:42 AM</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="notification-message">
                                    <div class="media d-flex">
                                        <div>
                                            <a href="/notifications" class="avatar">
                                                <img class="avatar-img" alt="" src="/assets/img/user/user2.jpg">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h6><a href="/notifications">Ray Arnold left 6
                                                    <span>comments on</span> Isla Nublar SOC2 compliance
                                                    report</a></h6>
                                            <p>Yesterday at 11:42 PM</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="notification-message">
                                    <div class="media d-flex">
                                        <div>
                                            <a href="/notifications" class="avatar">
                                                <img class="avatar-img" alt="" src="/assets/img/user/user3.jpg">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h6><a href="/notifications">Dennis Nedry <span>commented
                                                        on</span> Isla Nublar SOC2 compliance report</a>
                                            </h6>
                                            <p class="noti-details">“Oh, I finished de-bugging the phones,
                                                but the system's compiling for eighteen minutes, or twenty.
                                                So, some minor systems may go on and off for a while.”</p>
                                            <p>Yesterday at 5:42 PM</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="notification-message">
                                    <div class="media d-flex">
                                        <div>
                                            <a href="/notifications" class="avatar">
                                                <img class="avatar-img" alt="" src="/assets/img/user/user1.jpg">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h6><a href="/notifications">Stella Franfit
                                                    <span>created</span> Isla Nublar SOC2 compliance report
                                                </a></h6>
                                            <p>Last Wednesday at 11:15 AM</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- Notification End -->

                <!-- Profit Start -->
                <li class="nav-item user-nav">
                    <a href="/#" class="dropdown-toggle" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="/assets/img/instructor/profile-avatar.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                    </a>
                    <div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="/assets/img/instructor/profile-avatar.jpg" alt="User Image"
                                    class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Jenny Wilson</h6>
                                <p class="text-muted mb-0">Student</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="instructor-dashboard"><i class="feather-home me-1"></i>
                            Dashboard</a>
                        <a class="dropdown-item" href="instructor-edit-profile"><i class="feather-star me-1"></i>
                            Edit Profile</a>
                        <div class="dropdown-item night-mode">
                            <span><i class="feather-moon me-1"></i> Night Mode </span>
                            <div class="form-check form-switch check-on m-0">
                                <input class="form-check-input" type="checkbox" id="night-mode">
                            </div>
                        </div>
                        <a class="dropdown-item" href="/"><i class="feather-log-out me-1"></i>
                            Logout</a>
                    </div>
                </li>
                <!-- Profit End -->

            </ul>
        </div>
    </nav>
</div>